html {
    height: 100%;
    width: 100%;
}

body {
    font-family: ­BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
    margin: 3em;
    color: #222222;
}

.titel2 {
    font-size: 1.2em;
    padding-bottom: 0.5em;
}

.rowHeader2 {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.navigation {
    margin-right: 1em;
    text-align: center;
}

.navigation:hover {
    color: green; 
    cursor: pointer;
}

.navigation.navHome {
    padding: 0;
    margin: 0;
}

.content {
    min-height: 700px;
    margin-bottom: 4em;
    background-color: rgb(195, 195, 195);
    overflow: scroll;
}

.contentWindow  {
    margin-top: 3em;
    margin: 2em 2em;
    text-align: center;
}

.contentWindow.about {
    font-size: 0.85em;
}

.contentWindow.projects {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.project {
    height: 19vw;
    width: 19vw; 
    position: relative;
    display: inline-block;
    opacity: 1;
    cursor: pointer;
    min-width: 220px;
    min-height: 220px;
    max-width: 330px;
    max-height: 330px;
}

.project:hover {
    opacity: 0.7;
}


.projectTitle {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
    font-size: 1em;
}

.projectImg {
    height: 17vw;
    width: 17vw; 
    display: inline-block;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}

.projectImg:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.projectImgs {

}

.galleryImg {
    height: 40vw;
}

.description {
    text-align: left;
    width: 50vw;
}

.projectdescription {
    padding-bottom: 2em;
    font-size: 0.8em;
}

.contentWindow.contact {
    text-align: center;
    font-size: 0.85em;
}

.link a:hover{
    color: green; 
    cursor: pointer;
}

.home {
    display: inline-block;
    margin-left: 0.3em;
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: #222222;
}

/* For mobile phones: */


 /* @media screen and (max-width: 570px) {
    /* For mobile: */
 /*
    .projectImg {
        height: 30vw;
        width: 30vw; 
        display: inline-block;
        min-width: 80%;
    
    }
} 
*/