body {
    font-family: 'Roboto', sans-serif;
    margin: 2em;
}


.rowHeader2 {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.navigation {
    margin-right: 1em;
    text-align: center;
}

.navigation:hover {
    color: green; 
    cursor: pointer;
}

.navigation.navHome {
    padding: 0;
    margin: 0;
}

.content {
    height: 80vh;
    margin-bottom: 4em;
    background-color: rgb(195, 195, 195);
}

.contentWindow  {
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 0.7em;
    text-align: left;
}

.contentWindow.projects {
    text-align: left;
    opacity: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contentWindow.projects :hover {
    opacity: 0.7;
}
.project {
    position: relative;
    width: 17vw;
    height: 17vw;
    display: inline-block;
}
.projectTitle {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 45%;
    transform: translate( -50%, -50% );
}

.projectImg {
    height: 15vw;
    width: 15vw;
    display: block;
}

.contentWindow.contact {
    text-align: center;
}


.home {
    display: inline-block;
    margin-left: 0.3em;
    font-size: 1.8em;
}



/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}
